button{
    border: none;
}
.hidden-on-desktop{
    display: none;
}
a {
    color: #0000FF;
    text-decoration: underline;
}
section p{
    padding-top:15px;
}
section h2{
    padding-top: 0;
}
li{
    padding: 10px;
}
.main{
    width: 70%;
}
.sub-section{
    width: 30%;
}
.header{
    padding-top: 30px;
}
.logos{
    flex-shrink: 1;
    align-items:end;
    justify-content: end;
}
footer img{
    width: 100%;
    max-width: 50px;
}
#social-media-links{
    display: flex;
    flex-direction: row;
    gap:30px
}
footer.row{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
@media screen and (min-width: 920px){
    .row{
        max-width: unset;
    }
     .header-img{
        width: 100%;
    }
     img{
         width: 100%;
     }
     .main{
         width: 60%
     }
     .sub-section{
         width: 40%;
     }
     footer.row{
         padding-top: 100px;
     }
     h2{
         font-size: 50px;
     }
     .info p{
         font-size: 25px;
     }
     .info{
         justify-content: center;
     }
}
@media screen and (max-width: 750px){
    .row{
        flex-direction: column;
    }
    .header-img {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 20px
    }
    h1{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .alert-info{
        display: flex;
        justify-content: center;
    }
    a.alert-info{
        background-color: lightblue;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;

    }
    .list{
        width: 100%;
        flex-grow: 1;
    }
    .skip{
        width: 100%;
    }
    .nav-links li{
        background-color: lightgrey;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        text-decoration: underline;
        color: #0000FF;
    }
    .main{
        display: flex;
        flex-direction: column;;
        width: 100%;
    }
    .main p{
        font-size: 16px;
        font-weight: unset;
    }
    .paper{
        flex-grow: 1;
        width: 100%;
    }
    .info{
        justify-content: center;
        gap: 30px;

    }
    .sub-section{
        display: flex;
        flex-direction: column;
    }
    .sub-section p{
        width: 100%;

    }

    .image{
        padding: unset;
    }
}
